# Dependency directories
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs and editors
.idea/
.vscode/
*.iml

# OS metadata
.DS_Store
Thumbs.db

# Environment variables
.env
.env.local
